doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/buttons.css')
    link(rel='stylesheet', href='/stylesheets/loader.css')
    link(rel='stylesheet', href='//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css')

    script(src='//code.jquery.com/jquery-1.12.0.min.js')
    script(src='//code.jquery.com/ui/1.11.4/jquery-ui.js')
    script(src='/javascripts/app.js')

  body
    iframe#hiddeniframe(style='display: none')
    block content
